dashboard.json
[{"id":"90eb54e6.286488","type":"tab","label":"Ender3","disabled":false,"info":""},{"id":"f08aa5a1.245638","type":"mqtt in","z":"90eb54e6.286488","name":"temp-bed","topic":"octoprint/temperature/bed","qos":"0","broker":"b6d72359.21b9c","x":130,"y":140,"wires":[["baae3dc3.79e4d","c6eb5658.55d818"]]},{"id":"baae3dc3.79e4d","type":"debug","z":"90eb54e6.286488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":80,"wires":[]},{"id":"87cb1ce9.2d719","type":"mqtt in","z":"90eb54e6.286488","name":"temp-nozzle","topic":"octoprint/temperature/tool0","qos":"0","broker":"b6d72359.21b9c","x":160,"y":300,"wires":[["30da12e9.41522e","acf1fe01.b2121"]]},{"id":"30da12e9.41522e","type":"debug","z":"90eb54e6.286488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":220,"wires":[]},{"id":"bb586e83.be4d7","type":"mqtt in","z":"90eb54e6.286488","name":"print-progress","topic":"octoprint/progress/printing","qos":"0","broker":"b6d72359.21b9c","x":160,"y":440,"wires":[["f3084b17.3c06e8","3a6696fe.08af1a"]]},{"id":"f3084b17.3c06e8","type":"debug","z":"90eb54e6.286488","name":"print-progress","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":360,"y":380,"wires":[]},{"id":"afbd9ac1.9d0c78","type":"ui_chart","z":"90eb54e6.286488","name":"","group":"c57209a9.de6ac8","order":3,"width":"10","height":"6","label":"Printing progress","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":480,"wires":[[],[]]},{"id":"587c0ff5.5561d","type":"change","z":"90eb54e6.286488","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.progress","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":480,"wires":[["afbd9ac1.9d0c78"]]},{"id":"3a6696fe.08af1a","type":"json","z":"90eb54e6.286488","name":"","property":"payload","action":"","pretty":false,"x":330,"y":480,"wires":[["587c0ff5.5561d"]]},{"id":"acf1fe01.b2121","type":"json","z":"90eb54e6.286488","name":"","property":"payload","action":"","pretty":false,"x":330,"y":300,"wires":[["cd5a25b3.c95188"]]},{"id":"cd5a25b3.c95188","type":"change","z":"90eb54e6.286488","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.actual","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[["e0c60917.aa99a8"]]},{"id":"e0c60917.aa99a8","type":"ui_gauge","z":"90eb54e6.286488","name":"","group":"c57209a9.de6ac8","order":6,"width":"10","height":"6","gtype":"gage","title":"Nozzle temperature","label":"°C","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":300,"wires":[]},{"id":"c6eb5658.55d818","type":"json","z":"90eb54e6.286488","name":"","property":"payload","action":"","pretty":false,"x":350,"y":140,"wires":[["484c5ee8.08b14"]]},{"id":"484c5ee8.08b14","type":"change","z":"90eb54e6.286488","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.actual","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":140,"wires":[["beed9e03.75d3f"]]},{"id":"beed9e03.75d3f","type":"ui_gauge","z":"90eb54e6.286488","name":"","group":"c57209a9.de6ac8","order":7,"width":"10","height":"6","gtype":"gage","title":"Bed temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":140,"wires":[]},{"id":"5fb96a8b.0d6f34","type":"mqtt in","z":"90eb54e6.286488","name":"events","topic":"octoprint/event/+","qos":"1","broker":"b6d72359.21b9c","x":140,"y":600,"wires":[["45d0ba55.2d9684"]]},{"id":"45d0ba55.2d9684","type":"debug","z":"90eb54e6.286488","name":"events","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":320,"y":600,"wires":[]},{"id":"bceaaaea.7a8a78","type":"http request","z":"90eb54e6.286488","name":"requestJobInfo","method":"GET","ret":"txt","url":"http://192.168.1.100/api/job","tls":"","x":340,"y":820,"wires":[["60c29380.f5fa7c"]]},{"id":"b973a879.9da0a8","type":"inject","z":"90eb54e6.286488","name":"getJobInfo","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":740,"wires":[["5b72f2f3.1e680c"]]},{"id":"60c29380.f5fa7c","type":"json","z":"90eb54e6.286488","name":"","property":"payload","action":"","pretty":false,"x":510,"y":820,"wires":[["beb9b1c8.23013","691bc52a.9e54ec"]]},{"id":"cb5d8efb.7be61","type":"debug","z":"90eb54e6.286488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":740,"wires":[]},{"id":"5b72f2f3.1e680c","type":"change","z":"90eb54e6.286488","name":"","rules":[{"t":"set","p":"headers.X-Api-Key","pt":"msg","to":"KKKK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":740,"wires":[["bceaaaea.7a8a78"]]},{"id":"f8eeadd3.0fc31","type":"ui_gauge","z":"90eb54e6.286488","name":"","group":"c57209a9.de6ac8","order":5,"width":"10","height":"6","gtype":"gage","title":"PrintTimeLeft","label":"min.","format":"{{value}}","min":0,"max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":820,"wires":[]},{"id":"beb9b1c8.23013","type":"function","z":"90eb54e6.286488","name":"getData","func":"timeLeft = parseFloat(msg.payload.progress.printTimeLeft)/60.;\n\nmsg.payload = timeLeft.toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":780,"wires":[["f8eeadd3.0fc31","cb5d8efb.7be61"]]},{"id":"691bc52a.9e54ec","type":"function","z":"90eb54e6.286488","name":"getPrintTime","func":"printTime = parseFloat(msg.payload.progress.printTime)/60.;\n\nmsg.payload = printTime.toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":880,"wires":[["4eda355f.906c3c"]]},{"id":"4eda355f.906c3c","type":"ui_gauge","z":"90eb54e6.286488","name":"","group":"c57209a9.de6ac8","order":4,"width":"10","height":"6","gtype":"gage","title":"PrintTime","label":"min.","format":"{{value}}","min":0,"max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":880,"wires":[]},{"id":"aae0e9cf.1607d8","type":"ui_button","z":"90eb54e6.286488","name":"setBed","group":"42db3356.84792c","order":1,"width":"3","height":"3","passthru":false,"label":"Set Bed","color":"","bgcolor":"","icon":"done","payload":"","payloadType":"str","topic":"","x":120,"y":980,"wires":[["9260cef.50d723"]]},{"id":"9cfd97d7.a48748","type":"ui_button","z":"90eb54e6.286488","name":"setNozzle","group":"42db3356.84792c","order":2,"width":"3","height":"3","passthru":false,"label":"Set Nozzle","color":"","bgcolor":"","icon":"done","payload":"","payloadType":"str","topic":"","x":120,"y":1080,"wires":[["f7708416.a0bc38"]]},{"id":"9260cef.50d723","type":"change","z":"90eb54e6.286488","name":"setHeaders","rules":[{"t":"set","p":"headers.X-Api-Key","pt":"msg","to":"KKKK","tot":"str"},{"t":"set","p":"headers.Content-Type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":980,"wires":[["2290dc3.46b9c24"]]},{"id":"2290dc3.46b9c24","type":"change","z":"90eb54e6.286488","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{   \"command\": \"target\",   \"target\": 60 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":980,"wires":[["861153fc.a65ac"]]},{"id":"861153fc.a65ac","type":"http request","z":"90eb54e6.286488","name":"setBed","method":"POST","ret":"txt","url":"http://192.168.1.100/api/printer/bed","tls":"","x":700,"y":980,"wires":[["7bd9adc8.dedcc4"]]},{"id":"7bd9adc8.dedcc4","type":"debug","z":"90eb54e6.286488","name":"setBed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":880,"y":980,"wires":[]},{"id":"f7708416.a0bc38","type":"change","z":"90eb54e6.286488","name":"setHeaders","rules":[{"t":"set","p":"headers.X-Api-Key","pt":"msg","to":"KKKK","tot":"str"},{"t":"set","p":"headers.Content-Type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1080,"wires":[["7ee3cfed.6f317"]]},{"id":"7ee3cfed.6f317","type":"change","z":"90eb54e6.286488","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"target\",\"targets\":{\"tool0\":200}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1080,"wires":[["7be037c7.e347d8"]]},{"id":"7be037c7.e347d8","type":"http request","z":"90eb54e6.286488","name":"setNozzle","method":"POST","ret":"txt","url":"http://192.168.1.100/api/printer/tool","tls":"","x":700,"y":1080,"wires":[["9411fdec.830c9"]]},{"id":"9411fdec.830c9","type":"debug","z":"90eb54e6.286488","name":"setNozzle","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":880,"y":1080,"wires":[]},{"id":"39991a27.4a8896","type":"ui_button","z":"90eb54e6.286488","name":"unsetBed","group":"42db3356.84792c","order":3,"width":"3","height":"3","passthru":false,"label":"unset Bed","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":1180,"wires":[["f49628c9.abd1b8"]]},{"id":"f49628c9.abd1b8","type":"change","z":"90eb54e6.286488","name":"setHeaders","rules":[{"t":"set","p":"headers.X-Api-Key","pt":"msg","to":"KKKK","tot":"str"},{"t":"set","p":"headers.Content-Type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1180,"wires":[["ed1384c1.02d2b8"]]},{"id":"ed1384c1.02d2b8","type":"change","z":"90eb54e6.286488","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{   \"command\": \"target\",   \"target\": 0 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1180,"wires":[["89d290e5.b227c"]]},{"id":"89d290e5.b227c","type":"http request","z":"90eb54e6.286488","name":"setBed","method":"POST","ret":"txt","url":"http://192.168.1.100/api/printer/bed","tls":"","x":700,"y":1180,"wires":[["57334b7a.57d5b4"]]},{"id":"57334b7a.57d5b4","type":"debug","z":"90eb54e6.286488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":1180,"wires":[]},{"id":"52858265.3e8c7c","type":"ui_button","z":"90eb54e6.286488","name":"unsetNozzle","group":"42db3356.84792c","order":4,"width":"3","height":"3","passthru":false,"label":"unset Nozzle","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":1280,"wires":[["bc348c85.d0b0f"]]},{"id":"bc348c85.d0b0f","type":"change","z":"90eb54e6.286488","name":"setHeaders","rules":[{"t":"set","p":"headers.X-Api-Key","pt":"msg","to":"KKKK","tot":"str"},{"t":"set","p":"headers.Content-Type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1280,"wires":[["d38537c7.dac0e8"]]},{"id":"d38537c7.dac0e8","type":"change","z":"90eb54e6.286488","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"target\",\"targets\":{\"tool0\":0}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1280,"wires":[["2911ef4e.469bf"]]},{"id":"2911ef4e.469bf","type":"http request","z":"90eb54e6.286488","name":"setNozzle","method":"POST","ret":"txt","url":"http://192.168.1.100/api/printer/tool","tls":"","x":700,"y":1280,"wires":[["cd1dc45d.1c5378"]]},{"id":"cd1dc45d.1c5378","type":"debug","z":"90eb54e6.286488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":1280,"wires":[]},{"id":"b6d72359.21b9c","type":"mqtt-broker","z":"","name":"local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c57209a9.de6ac8","type":"ui_group","z":"","name":"Ender3 Dashboard","tab":"499e9ac6.10d2b4","order":1,"disp":true,"width":"30","collapse":false},{"id":"42db3356.84792c","type":"ui_group","z":"","name":"Commands","tab":"499e9ac6.10d2b4","order":2,"disp":true,"width":"6","collapse":false},{"id":"499e9ac6.10d2b4","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
